<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://nordcdn.net/ds/css/3.1.1/nord.min.css" integrity="sha384-zz2Vh/uaPtnKKnKq4a8aP/R7ybJEZD3LuwnvmLE+p42C+Zjr2R0Y+PKwdABWc61A" crossorigin="anonymous" />
    <script type="module" src="https://nordcdn.net/ds/components/3.8.0/index.js" integrity="sha384-zvZDBl7G/h/0UeesdZH1CBfL9kfoMi+5/I28m8u8yCgzJC7kohDH3I6XgaMzYnLW" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://nordcdn.net/ds/themes/8.0.1/nord-dark.css" integrity="sha384-4mfQkitA1YUssjHukrfVhopnhPw9eM2tX8Z05rZ/5NJRmDJN1fQp2gGfwydx2SzL" crossorigin="anonymous" />
    <link rel="icon" type="image/x-icon" href="/assets/logo.png">
    <meta name="description" content="Redeem your <%=hours%> hour access">
    <meta property="og:image" content="https://i.imgur.com/OvdXF10.png" />
    <meta property="twitter:image" content="https://i.imgur.com/OvdXF10.png" />
    <title><%=name%> | Eleutheri Ads</title>
</head>
<body>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V1WR19TZMB"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-V1WR19TZMB');
    </script>
    
    <script>
        const startTrial = () => document.location = "/discord";
    </script>

    <style>
        body {
            background: var(--n-color-surface);
            margin: 0;
        }

        nord-stack {
            width: 20%;
        }

        .banner {
            width: 40vw;
        }
    </style>

    <style>
        .icon {
            position: relative;
            bottom: -3px;
        }
    </style>
    
    <style>
        @media screen and (max-width: 600px) {
            nord-stack {
                width: 80%;
            }
            
            .banner {
                width: 60vw;
            }
        }
    </style>
    
    <nord-header>
        <h1 class="n-typescale-l">Eleutheri Ads</h1>
        <img src="https://res.cloudinary.com/dlxrsqy04/image/upload/f_auto,q_auto,h_50/d4ecdjm7nxkd45iib96y" alt="" srcset="">
        <nord-button href="./" slot="end"><nord-icon name="interface-home" slot="end"></nord-icon>Home</nord-button>
    </nord-header>

    <nord-empty-state class="n-gap-m">
        <h2><%=name%></h2>
        <p><%=hours%> Hour Access</p>
        <nord-stack justify-content="center" direction="vertical">
            <nord-card>
                <h2 slot="header">1. Login using Discord <nord-icon name="user-single" class="icon"></nord-icon></h2>
                We require all users to authenticate using Discord, this is done to prevent fraudulent actors from bypassing the reward system and affecting publisher monetization  
            </nord-card>
            <div style="text-align: center;"><nord-icon name="arrow-down-long" slot="start"></nord-icon></div>
            <nord-card>
                <h2 slot="header">2. Complete the advertisement links <nord-icon name="navigation-tasks" class="icon"></nord-icon></h2>
                To redeem your content you'll have to complete two advertisement links. For those who try to bypass the links, you will fail and could be subject to a permanent blacklist from this content
            </nord-card>
            <div style="text-align: center;"><nord-icon name="arrow-down-long" class=""></nord-icon></div>
            <nord-card>
                <h2 slot="header">3. Enjoy your content! <nord-icon name="interface-star-filled" class="icon"></nord-icon></h2>
                It is that simple, enjoy your content, and redeem more if you like after your cooldown has expired
            </nord-card>
        </nord-stack>

        <nord-stack justify-content="center" gap="s" direction="horizontal" class="n-margin-l">
            <nord-button variant="primary" onclick="startTrial()">Redeem</nord-button>
        </nord-stack>

        <a href="https://docs.link.eleutheri.com/eleutheri-ads/terms-of-service">Terms of Service</a>
        <a href="https://docs.link.eleutheri.com/eleutheri-ads/privacy-policy">Privacy Policy</a>
    </nord-empty-state>
</body>
</html>